body
{
font-family:Arial,sans-serif;
margin:20px;
padding:20px;
background-color:salmon;
}
header
{
color:White;
background-color:#01f9c6;
text-align:center;
}
section
{
font-size:20px;
background-color:salmon;
font-color:white;
float:right;
}
nav
{
float:right;
}
#Resume
{
background-color:black;
color:white;
font-size:20px;
border:none;
border-radius:5px;
}
#Resume:hover
{
background-color:black;
cursor:pointer;
}
footer
{
background-color:#01f9c6;
text-align;center;
position:fixed;
width:100%;
paddinng:40px;
}